.MainBox{
    background-color: yellow;
    height: 600px;
    display: flex;
    /* flex-direction: row;//горизонтально */
    /* flex-direction: row-reverse;//горизонтально (наоборот) */
    /* flex-direction: column;//вертикально */
    /* flex-direction: column-reverse;//вертикально(наоборот) */
    flex-direction: row;
    /* justify-content:center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-around;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
flex-wrap: wrap;
}

@media all and (min-width:870px) and (max-width:1650px){
    .MainBox{
        height: 1100px;
    }
}

@media all and (min-width:0px) and (max-width:869px){
    .MainBox{
        height: 1700px;
    }
}

.box1{
    background-color: red;
    width: 400px;
    height: 400px;
}
.box2{
    background-color:black;
    width: 400px;
    height: 400px;
}
.box3{
    background-color:blue;
    width: 400px;
    height: 400px;
}
.box4{
    background-color:blueviolet;
    width: 400px;
    height: 400px;
}