.send{
    padding: 50px;
    /* transition: 1s; */
}
/* .send:hover{
    padding: 70px;
    background-color: blue;
    transition: 1s;
} */

.element{
    position: relative;
}

.element .sign{
position: absolute;
color: white;
font-size: 40px;
font-family: Arial;
z-index: 2;
bottom: 50px;
left: 7%;
}

.element .dark{
    position: absolute;
    width: 600;
    height: 340;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: 1;
    transition: 1s;
}

.element .dark:hover{
    position: absolute;
    width: 600;
    height: 340;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 1;
    transition: 1s;
}

.img{
    width: 600px;
    border-radius: 10px;
}











.element2{
    position: relative;
}

.sign2{
    position: absolute;
    color: white;
    font-size: 50px;
    z-index: 2;
    bottom:20px;
    left:110px;
    font-family: Arial;
}

.dark2{
    position: absolute;
    width: 600px;
    height: 340px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    transition: 1s;
    z-index: 1;
}

.dark2:hover{
    position: absolute;
    width: 600px;
    height: 340px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 1s;
}

.img2{
width: 600px;
border-radius: 10px;
}