.img{
    float: left;
     margin: 30px; /*со всех сторон отступить */

    /* margin-right: 30px;
    margin-left:5px;
    margin-top: 5px;
    margin-bottom: 5px;  отступить снизу*/

  /* margin: 10px 30px 10px 5px; */

 /* margin: 10px 50px; верх-низ,лево-право */

border:red 1px solid;
padding: 30px;

}
.button{
    padding: 30px;
}
.body{
    height: 400px;
    background-color: chartreuse;
}
.container1{
    width: 200px;
    height: 200px;
    background-color: black;
    float: left;
    margin: 80px 350px;
}