.generalDiv{
    height: 500px;
    background-color: yellow;
    position: relative;
    transition: 1s;
}

@media all and (min-width:960px) and (max-width:1720px){
    .generalDiv{
        height: 900px;
        background-color: yellow;
        position: relative;
        transition: 1s;
    }
}

@media all and (min-width:0px) and (max-width:959px){
    .generalDiv{
        height: 1800px;
        background-color: yellow;
        position: relative;
        transition: 1s;
    }
}

.generalDiv .inline1{
    position: absolute;
    display: inline-block;
    left: 200px;
    top:100px;
    width: 300px;
    height: 300px;
    background-color: yellowgreen;
    transition: 1s;
}

.generalDiv .inline2{
    position: absolute;
    display: inline-block;
    left: 600px;
    top:100px;
    width: 300px;
    height: 300px;
    background-color: pink;
    transition: 1s;
}

.generalDiv .inline3{
    position: absolute;
    display: inline-block;
    left: 1000px;
    top:100px;
    width: 300px;
    height: 300px;
    background-color: blue;
    transition: 1s;
}

.generalDiv .inline4{
    position: absolute;
    display: inline-block;
    left: 1400px;
    top:100px;
    width: 300px;
    height: 300px;
    background-color: red;
    transition: 1s;
}

@media all and (min-width:960px) and (max-width:1720px){
    .generalDiv .inline3{
        position: absolute;
        display: inline-block;
        left: 200px;
        top:500px;
        width: 300px;
        height: 300px;
        background-color: blue;
        transition: 1s;

    }
    .generalDiv .inline4{
        position: absolute;
        display: inline-block;
        left: 600px;
        top:500px;
        width: 300px;
        height: 300px;
        background-color: red;
        transition: 1s;
    }
}

@media all and (min-width:0px) and (max-width:959px){
    .generalDiv .inline1{
        position: absolute;
        display: inline-block;
        left: 200px;
        top:100px;
        width: 300px;
        height: 300px;
        background-color: yellowgreen;
        transition: 1s;
    }
    .generalDiv .inline2{
        position: absolute;
        display: inline-block;
        left: 200px;
        top:500px;
        width: 300px;
        height: 300px;
        background-color: pink;
        transition: 1s;
    }
    .generalDiv .inline3{
        position: absolute;
        display: inline-block;
        left: 200px;
        top:900px;
        width: 300px;
        height: 300px;
        background-color: blue;
        transition: 1s;
    }
    .generalDiv .inline4{
        position: absolute;
        display: inline-block;
        left: 200px;
        top:1300px;
        width: 300px;
        height: 300px;
        background-color: red;
        transition: 1s;
    }
}